body{
    background-color: rgb(187, 188, 188);
}

.fundo{
    background-image: url(../img/planodfundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    background-color: azure;
}

.logo{
    border: none;
}

.conteiner{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

figure{
    text-align: center;
    width: 90%;
}
   .img1{
    border: 4px solid rgb(244, 246, 182);
    box-shadow: 0px 0px 18px rgb(244, 246, 182);
    inset: 0px 0px 10px rgb(244, 246, 182);
    }
    .img2{
        border: 4px solid rgb(244, 246, 182);
        box-shadow: 0px 0px 18px rgb(244, 246, 182);
        inset: 0px 0px 10px rgb(244, 246, 182) ;
    }
    .img3{
        border: 4px solid rgb(244, 246, 182);
        box-shadow: 0px 0px 18px rgb(244, 246, 182);
        inset: 0px 0px 10px rgb(244, 246, 182) ;
    }
    .img4{
        border: 4px solid rgb(244, 246, 182);
        box-shadow: 0px 0px 18px rgb(244, 246, 182);
        inset: 0px 0px 10px rgb(244, 246, 182);
    }
    .img-enredo{
        border: 4px solid rgb(244, 246, 182);
        box-shadow: 0px 0px 18px rgb(244, 246, 182);
        inset: 0px 0px 10px rgb(244, 246, 182);
    }
    .img-inspiracao{
        border: 4px solid rgb(244, 246, 182);
        box-shadow: 0px 0px 18px rgb(244, 246, 182);
        inset: 0px 0px 10px rgb(244, 246, 182);
    }

 

h1{
    color: rgb(255, 246, 167);
    text-align: center;
}

p{
    text-indent: 20px;
}

footer{
    text-align: center;
    background-color: rgb(220, 210, 210,0.6);
    padding: 1%;
    
}

.Personagens{
    display: flex;
    gap: 15px;
}

.img-enredo figure{
    text-align: center;
    width: 90%;
}






